{% extends 'todo/base.html' %}
{% block title %}
    <title>Update</title>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">Update Task</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-10">
                        <div class="card-title">Task</div>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <div class="card-title">Completed</div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-10">
                        {{ form.description }}
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        {{ form.completed }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'index' %}" class="btn btn-info"><- Go back</a>
                        <input class="btn btn-primary" type="submit" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}